<h1 appFont20>Panel de Administración</h1>

<div class="d-flex gap-3 mb-3">
    <button mat-stroked-button class="w-50 py-5" routerLink='users'><mat-icon>person</mat-icon>Usuarios</button>
    <button mat-stroked-button class="w-50 py-5" routerLink='students'><mat-icon>people</mat-icon>Estudiantes</button>
</div>
<div class="d-flex gap-3">
    <button mat-stroked-button class="w-50 py-5" routerLink='teachers'><mat-icon>people</mat-icon>Maestros</button>
    <button mat-stroked-button class="w-50 py-5" routerLink='courses'><mat-icon>class</mat-icon>Cursos</button>
</div>

