<table mat-table [dataSource]="dataSource" class="my-4">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{ element | fullName }} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Ingreso </th>
      <td mat-cell *matCellDef="let element"> {{ element.timestamp }} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button [routerLink]="element.id">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button (click)="editStudent.emit(element)" [disabled]="(authUser$ | async)?.role !== 'ADMIN'">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteStudent.emit(element)" [disabled]="(authUser$ | async)?.role !== 'ADMIN'">
              <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>