.approved {
    background-color: rgb(200, 255, 155);
}

.disapproved {
    background-color: rgb(255, 155, 155);
}

.studentsTable {
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

.studentsTable thead {
    background-color: rgb(218, 218, 218);
}