<div class="container-fluid p-0 mat-app-background">
  <mat-drawer-container class="container-xxl vh-100 p-0 shadow" autosize>

    <mat-drawer #drawer class="p-4" mode="side" opened>
      <mat-nav-list>
        <a routerLink="home" mat-list-item>Inicio</a>
        <a routerLink="users" mat-list-item>Panel de usuarios</a>
        <a routerLink="students" mat-list-item>Panel de estudiantes</a>
        <a routerLink="teachers" mat-list-item>Panel de maestros</a>
        <a routerLink="courses" mat-list-item>Panel de cursos</a>
        
        <hr class="border border-black border-1 opacity-25">
        <a (click)="logout()" color="accent" mat-button class="text-center w-100">Cerrar sesión</a>
      </mat-nav-list>
    </mat-drawer>
    
    <div>
      <mat-toolbar>
        <button mat-icon-button class="me-3" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Dashboard</span>
        <span class="flex-grow-1"></span>
        <button mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <div class="p-4">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>